---
import BlogDetailPage from '../../components/blog/BlogDetailPage'
import BlogNavigation from '../../components/blog/BlogNavigation'
import '../../styles/global.css'

export const prerender = false

const { id } = Astro.params
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Blog | Shardendu Mishra</title>
  </head>
  <body>
    <div class="min-h-screen bg-background">
      <BlogNavigation client:load />
      <div class="lg:pl-64">
        <div class="container mx-auto py-8 min-h-screen">
          <BlogDetailPage blogId={id!} client:load />
        </div>
      </div>
    </div>
  </body>
</html>
